@charset "utf-8";
/* CSS Document */

/* table_top_area */
.table_top_area {overflow: hidden; margin-bottom: 10px; font-size: 13px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	.table_top_area .table_top_left {float: left;}
	.table_top_area .table_top_right {float: right;}
	.table_top_area .table_count {color: #f68121;}
	.table_top_area p {margin-top: 16px; font-size: 13px; color: #585858;}
	.table_top_area select {height: 35px; border: 1px solid #d2d2d2; color: #4d4d4d;}
	.table_top_area input[type=text] {height: 33px; border: 1px solid #d2d2d2; color: #4d4d4d;}
	.table_top_area button {margin-left: -5px;}

.table_area_01 > table { width: 100%; }
.table_area_01 > table th, 
.table_area_01 > table td { padding: 12px 10px 12px 10px; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; text-align: center; }
.table_area_01 > table th { font-weight: 700; font-size: 16px; color: #000;  background: #fafafa; border-top: 2px solid #444444; }
.table_area_01 > table th:last-child { border-right: none; }
.table_area_01 > table td { font-size: 14px; color: #646464; padding: 12px 10px 12px 10px; }
.table_area_01 > table td:last-child { border-right: none; }


	/* dl view */
	.view_area {overflow: hidden; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
		.view_title {overflow: hidden; padding: 16px 22px 16px; border-top: 1px solid #7b736b; border-bottom: 1px solid #dcdcdc; font-weight: bold; font-size: 14px; color: #ffffff; line-height: 1.4em; background-color: #7b736b;}
		span.count_num {float: right; font-size: 13px; color: #ffffff;}
		.dl_view {overflow: hidden; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; font-size: 13px;}
		dl.view {overflow: hidden; padding: 10px 14px 8px; margin-bottom: 3px; border-bottom: 1px solid #7b736b; color: #333333; color: #4d4d4d;}
			dl.view.top_line {border-top: 1px solid #dcdcdc;}
			dl.view > dt.vdt {float: left; display: inline-block; padding-left: 9px; font-weight: bold; line-height: 1.5em; background: url('/images/web/common/bg_view_divider.png') no-repeat 0 4px;}
			dl.view > dt.vdt:first-child {padding-left: 0px; background: none;}
			dl.view > dt.vdt span {display: block; padding-right: 7px; margin-right: 5px; background: url('/images/web/common/bg_view_vdt.png') no-repeat right 6px;}
			dl.view > dd.vdd {float: left; display: inline-block; margin-right: 8px; font-weight: normal; line-height: 1.5em;}
			dl.view > dd.vdd.file {overflow: hidden; width: 90%;}
			dl.view > dd.vdd input[type="file"] {display: inline-block; height: 22px;}
			dl.view > dd.vdd a {color: #333333; text-decoration: none;}
			dl.view > dd.vdd a:hover {color: #1f3662; text-decoration: underline;}
			dl.view > dd.vdd a.link {color: #0068b7; text-decoration: underline;}
			dl.view > dd.vdd a.download {display: block; padding: 3px 5px; margin: 2px; /*border: 1px solid #dcdcdc;*/ font-size: 0.89em; letter-spacing: -0.03em;}
			dl.view > dd.vdd a.download:hover {color: #333333; text-decoration: none;}
			dl.view > dd.vdd a.download:first-child {margin-top: 0px; padding-top: 2px;}
			dl.view > dd.vdd a.download img {display: block; float: left; margin-top: 2px; margin-right: 5px; vertical-align: middle;}
		.editor {overflow: hidden; margin-bottom: 40px; padding: 0; border-bottom: none; font-size: 13px;}
		.editor p {line-height: 1.5em;}


.table_area_02 { border-top: 2px solid #515151; }
.table_area_02 > table { width: 100%; }
.table_area_02 > table td { padding: 12px 10px 12px 10px; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; text-align: left; }
.table_area_02 > table td { font-size: 14px; color: #454545; padding: 12px 10px 12px 10px; }
.table_area_02 > table td:last-child { border-right: none; }
.table_area_02 > table td.title_td { color: #454545; font-size: 14px; font-weight: 700; background: #fafafa }
.table_area_02 > table td.comment_td { padding: 30px 10px 30px 10px; line-height: 25px; }
	.table_area_02 tbody td div.url_area {overflow: hidden;}
	.table_area_02 tbody td div.url_area label {display: inline-block; width: 70px; color: #4d4d4d;}
	.table_area_02 tbody td div.url_area input[type=text] {width: 80%; height: 23px; border: 1px solid #d2d2d2;}

	.table_area_02 tbody td div.file_area div.file_input_area {overflow: hidden; display: inline-block; width: 50%;}
	.table_area_02 tbody td div.file_area div.file_input_area input[type='text'] {width: 98%; height: 23px; border: 1px solid #d2d2d2;}
	.table_area_02 tbody td div.file_area div.file_btn_area {overflow: hidden; display: inline-block;}

	.table_area_02 tbody td div.m_phone_area {overflow: hidden; display: inline-block; margin-right: 10px;}
	.table_area_02 tbody td div.m_phone_area span.m_phone_txt {display: inline-block; margin-right: 10px; color: red;}

	.table_area_02 tbody td div.date_select_box {overflow: hidden; display: inline-block; width: 126px; height: 23px; vertical-align: middle; border:1px solid #d2d2d2;}
	.table_area_02 tbody td div.date_select_box input[type=text] {width: 103px; height: 23px; border: 0px;}
	.table_area_02 tbody td div.date_select_box label {float: right; width: 22px; height: 23px; border: 0px;}
	.table_area_02 tbody td div.date_select_box label img {width: 22px; height: 23px; border: 0px;}

.not_border_table { width: 100%; }
.not_border_table td{ text-align: left !important; border-bottom: none !important; border-right: none !important; }


/*
.album_list { width: 100%; margin: auto; margin-top: 25px; }
	.album_list > li { 
		float: left; margin-right: 5px; margin-left: 5px; margin-bottom: 25px; width: calc(25% - 10px);
	}

	.album_list > li > div.album_img { 
		width: 100%; height: 118px; 
		background-size: cover; background-repeat: no-repeat; background-position: center center;
	}
		.album_list > li > div.album_img > a { display: table; width: 100%; height: 100%; }

	.album_list > li > div.title_txt { font-size: 14px; color: #5f5f5f; margin-top: 10px; }
		.album_list > li > div.title_txt > a { 
			font-size: 14px; color: #5f5f5f; 
			display: inline-block; float: left; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;		
		}
	.album_list > li > div.comment_txt { font-size: 12px; color: #949494; margin-top: 30px; }
*/



/* 앨범형 */
.album_list_area {overflow: hidden; padding-top: 20px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	ul.album_list {overflow: hidden;}
	ul.album_list > li {float: left; }
	ul.album_list li {list-style: none;}
	ul.album_list li .album {
		overflow: hidden; width: 197px !important; height: 336px; font-size: 12px; border-top: 3px solid #7b736b; border-right: 1px solid #eeeeee;
	}
	ul.album_list li .album .album_img_area {overflow: hidden; width: 197px; height: 161px; border-bottom: 1px solid #eeeeee !important; }
	ul.album_list li .album .album_img_area img {width: 195px; height: 161px; vertical-align: top;}
	ul.album_list li .album .album_txt_area {overflow: hidden; min-height: 169px; padding: 21px 19px; border-right: none !important; }
	ul.album_list li .album .album_txt_area .album_name_area {overflow: hidden; margin-bottom: 10px; font-weight: bold; }
	ul.album_list li .album .album_txt_area .album_nation {font-size: 13px; font-weight: bold; color: #e86a02;}
		/*
		ul.album_list li .album .album_txt_area .album_nation:after {content: '|'; padding-left: 4px;}
		*/
		ul.album_list li .album .album_txt_area span.album_category {padding-left: 4px; background: url('/images/web/common/bg_view_vdt2.png') no-repeat 0 center;}
	ul.album_list li .album .album_txt_area .album_category {font-size: 13px; font-weight: bold; color: #e86a02;}
	ul.album_list li .album .album_txt_area .album_number {float: right; font-size: 13px; font-weight: bold; color: #333333;}
	ul.album_list li .album .album_txt_area .album_title_area {overflow: hidden; height: 40px !important; margin-bottom: 10px; font-size: 13px; color: #333333;}
	ul.album_list li .album .album_txt_area .album_title_area .album_title,
	ul.album_list li .album .album_txt_area .album_title_area .album_title a {font-size: 14px; font-weight: bold; color: #0074b7; text-decoration: none !important; line-height: 20px;}
	ul.album_list li .album .album_txt_area .album_title_area .album_title a:hover {text-decoration: underline;}
	ul.album_list li .album .album_txt_area .album_title_area .album_reply {font-size: 13px; color: #333333;}
	ul.album_list li .album .album_txt_area .album_title_area .album_reply span {font-weight: bold; font-size: 13px; color: #e5350e;}
	ul.album_list li .album .album_txt_area .album_file_area {overflow: hidden; height: 24px; margin-bottom: 10px;}
	ul.album_list li .album .album_txt_area .album_file_area span.album_file {overflow: hidden; display: inline-block;}
	  
	ul.album_list li .album .album_txt_area .album_register_area {font-size: 11px; height: 40px;}
	ul.album_list li .album .album_txt_area .album_register_area ul li {color: #909090; list-style: none;}
	ul.album_list li .album .album_txt_area .album_register_area ul li + li {margin-top: 5px;}
	ul.album_list li .album .album_txt_area .album_register_area ul li strong.register_name {padding-right: 6px; margin-right: 6px; font-weight: normal; background: url('/images/web/common/bg_view_vdt2.png') no-repeat right center;}
	ul.album_list li .album .album_txt_area .album_register_area ul li span {font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; font-size: 11px; color: #909090;}
	ul.album_list li .album .album_txt_area .album_register_area ul li p.reply_count {display: inline-block;}
		ul.album_list li .album .album_txt_area .album_register_area ul li p.reply_count span {font-weight: bold; color: #e5350e;}
	

/* 화면 해상도 width 1025px 이상 Design --------------------------------------*/
@media screen and (min-width: 1025px){
	
}


/* 화면 해상도 width 641px 이상 1024px 이하 Design --------------------------------------*/
@media screen and (max-width: 1024px) and (min-width: 641px) {

	ul.album_list li .album { width: 257px !important; }
	ul.album_list li .album .album_img_area {width: 258px !important; }
	ul.album_list li .album .album_img_area img {width: 255px;}


}


/* 화면 해상도 width 640px 이하 Design --------------------------------------*/
@media screen and (max-width: 640px){
	
	.table_area_01 { width: 100%; overflow: auto; }
	.table_area_01 > table { width: 600px; }
	.table_area_01 > table th, 
	.table_area_01 > table td { padding: 12px 10px 12px 10px; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; text-align: center; }
	.table_area_01 > table th { font-weight: 700; font-size: 16px; color: #000;  background: #fafafa; border-top: 2px solid #444444; }
	.table_area_01 > table th:last-child { border-right: none; }
	.table_area_01 > table td { font-size: 14px; color: #646464; padding: 12px 10px 12px 10px; }
	.table_area_01 > table td:last-child { border-right: none; }

	.table_area_02 { width: 100%; overflow: auto; }
	.table_area_02 { border-top: 2px solid #515151; }
	.table_area_02 > table { width: 600px; }
	.table_area_02 > table td { padding: 12px 10px 12px 10px; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; text-align: left; }
	.table_area_02 > table td { font-size: 14px; color: #454545; padding: 12px 10px 12px 10px; }
	.table_area_02 > table td:last-child { border-right: none; }
	.table_area_02 > table td.title_td { color: #454545; font-size: 14px; font-weight: 700; background: #fafafa }

	.search_box {
		float: center; text-align: right; padding: 10px;
	}
	.search_box input { position: relative; top: 5px;  }
	.search_box a { position: relative; top: 7px;  }

	ul.album_list li .album { width: 257px !important; }
	ul.album_list li .album .album_img_area {width: 258px !important; }
	ul.album_list li .album .album_img_area img {width: 255px;}


}
